node_modules/
dist/
.env
*.log
.DS_Store
Thumbs.db
cookies.json
*cookies.json
screenshots/
__pycache__/
*.pyc
*.session
*.session-journal
.venv/
venv/

cyberpay.db
cyberpay.db-shm
cyberpay.db-wal
*.db-journal
